<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="starthack.drivingcoach">
    <!-- Permissions required by HERE -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Permission required for BLE -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="HShRf9JVp2WPzkQR7iUz" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="5jijFu_y_OJZMWWPs9slJA" />
        <meta-data android:name="com.here.android.maps.license.key" android:value="famsBDO9xXBo+Km8mjcOOp03GHkueJajm2+ln9tpGLVYjHO0G8FQclRg1DMeJOqRynoaAcmD6Ut8nL1kzBKYQ3g+tNR1gTSjgpjwS+EzS8f2bLN3aQzvx/iQ/tfDPj5mOAXwCrKZ5Z/Qm0oF4mwiwGOyXvafmPEFGeqUUMaL4ZZQ0Z8r7KGyg0NoxaJnKu/eJD+VPzQz6ecnG0MDX7H2jkcoBCoR0tUs/FLnf0aO3UBMPs9L/vEt4yKEmDRya70Q89Pd+Ner7T3Pg0gDba0S+wuoxEx+srOwZLfE8NMYOwaf4AED3tmudAlz1/3q724ytbHa97jvg9W260QKir5sJo7dyeypPurZEqjt+vUzT7zoj+iIIZt0Qbcv/ZYGmxz3PutX1GbbD31vDzibJ0H3rj0JFZbb7LRGixrViO1mKKwuwb6wwRm0H8Oz6Gx2H7PyCPxSUESseETm1Vzojzc/yKXpDpSYqpK6VdnL9DMBy1msm9Ayk9r6PqwdX1pFHpERGHXkHsmtw8egL492pZd17gYhb4CONgLRLie1JMFFcZINccmHNQhXy3cERt6VXWQ1ry/Kwenr7xA5EfzeGXV0A6CepcCjtHs3QnkURh4V9uvP6yyijgrO+Aya/n8NONViTb9NuIjL+nVYUcvzkl/TuL7ShRX2VlMK8loVUsHs5Pw="/>

        <activity android:name=".MapActivity"></activity>
    </application>

</manifest>